nav a {
  color: inherit !important;
}
nav {
  box-shadow: none;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
.sidenav-fixed {
  box-shadow: none;
  border-left: 1px solid rgba(0,0,0,0.2);
}
.sidenav-fixed + main {
  padding-right: 300px;
}
.btn.full-width {
  width: 100%;
}
@media only screen and (max-width : 992px) {
  .sidenav-fixed + main {
    padding-right: 0;
  }
}
